{# Message shown when trying to delete protected config file.

Variables:
  - config_path: Path to the protected config file
#}
# Protected File - Deletion Blocked

The file `{{ config_path }}` is protected and cannot be deleted by the agent.

This configuration file controls the reliability hooks and should only be
modified manually by the user.
